<html>

<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

<noscript>Javascript is disabled on your browser. Please enable JavaScript.</noscript>

<div class="container-fluid">
    <main id="content">
        <div id="loading"></div>
    </main>
</div>

<script type="text/javascript">
    document.getElementById('loading').innerText = 'Loading...';
</script>

</body>
</html>