<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
<noscript>Javascript is disabled on your browser. Please enable JavaScript.</noscript>
<div class="container d-flex h-100">
  <div id="loading"></div>
  <div class="row align-items-center" style="visibility: hidden" id="content-row">
    <div class="col-12" id="content"></div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById('loading').innerText = 'Loading...';
</script>
</body>

</html>
